/*font-family: 'PT Serif', serif;
font-family: 'Fjalla One', sans-serif;
*/
html, body { width: 100%; height: 100%; margin: 0; padding: 0; }
a { text-decoration: none; }
body {
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.landing {
    position: relative;
    width: 100%;
    height: 100%;
/*    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
    background: rgba(36,96,188,0.8);
}
h1 {
    padding-top: 20%;
    color: white;
    text-shadow: -2px 8px rgba(0,0,0,0.3);
    letter-spacing: 0.05em;
    margin: 0 0 5px;
    font-size: 60px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}
h2 {
    margin: 0 0 25px;
    color: #e7e7e7;
    text-align: center;
    font-family: 'Old Standard TT', serif;
    font-style: italic;
    font-size: 26px;
}
.questions {
}
.questions .clock {
    margin: 0;
    height: 50px;
    width: auto;
}
h3 {
    text-align: center;
    font-weight: normal;
    margin: -2px 0 8px;
    color: #e7e7e7;
    text-align: center;
    font-family: 'Old Standard TT', serif;
    font-size: 20px;
}

.sink {
    position: relative;
    margin: 30px auto;
    width: 300px;
    height: 80px;
    background: rgba(0,0,0,0.3);
    border-radius: 4px;
    vertical-align: middle;
}
.sink a {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: block;
    text-align: center;
    line-height: 40px;
    margin: auto;
    background-color: #FFC24A;
    border-radius: 4px;
    color: #444;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}
.sink a:hover {
    opacity: .87;
}

.nav {
    z-index: 100;
    position: absolute;
    bottom: 0;
    height: 80px;
    left: 0;
    right: 0;
    background: #952615;
}
.nav.fixed {
    position: fixed;
    top: 0;
    bottom: auto;
}
.nav .arrow {
    z-index: 10;
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: -30px;
    border-radius: 50%;
    background: #952615;
    box-shadow: 0px 3px rgba(0,0,0,0.3);
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 18px;
    transition: opacity .3s;
}
.nav.fixed .arrow {
    pointer-events: none;
    opacity: 0;
}
.nav .arrow:hover {
    background: #862213;
    color: #e7e7e7;
}
.nav .links-container {
    position: absolute;
    top: 4px;
    bottom: 4px;
/*    left: 30px;
    right: 30px;*/
    text-align: center;
}
.links-container.left {
    text-align: right;
    left: 30px;
    right: 50%;
    margin-right: 30px;
}
.links-container.right {
    text-align: left;
    right: 30px;
    left: 50%;
    margin-left: 30px;
}
.nav .link {
    display: inline-block;
    font-family: 'Fjalla One', sans-serif;
    margin: 0 30px;
}
.nav a {
    font-size: 20px;
    line-height: 72px;
    color: #e7e7e7;
}
.nav .social {
    height: 72px;
}
.nav .social > a {
    margin: 0 7px;
}
.nav a:hover {
    opacity: .8;
    border-bottom: 4px solid white;
}
.nav a.active {
    border-bottom: 4px solid white;
}

.map-container {
    display: inline-block;
    padding: 20px;
    border-radius: 4px;
    background: 0px 3px rgba(0,0,0,0.3);
    margin: 30px auto;
}

.red {
    color: #C9321C;
    color: #AF2C18;
    color: #6F1C0F;
}
.gold {
    color: #FFC24A;
}

.page2, .page3 {
    padding-top: 80px;
    text-align: center;
    display: inline-block;
    position: relative;
    /*top: 100%;*/
    width: 100%;
    min-height: 100%;
    background: rgba(236,236,236,0.95);
}
.page3 {
    position: relative;
    background-image: url(../img/street.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h3.page-header {
    position: relative;
    z-index: 15;
    font-family: 'Fjalla One', sans-serif;
    color: #333;
    font-size: 28px;
    margin: 10px 0 15px;
}
.container {
    position: relative;
    z-index: 25;
    max-width: 900px;
    margin: auto;
    text-align: center;
}
.banner {
    position: relative;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 20px;
}
.overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(236,236,236,0.45);
}
.overlay-black {
    /*background: rgba(255,194,74,0.5);*/
    background: rgba(0,0,0,0.5);

}
.blurb {
    padding: 30px;
    border-radius: 4px;
    background: rgba(236,236,236,0.75);
}
.b1 {
    background-image: url(../img/rich.jpg);
}
.b2 {
    background-image: url(../img/dome.jpg);
}
.b3 {
    background-image: url(../img/bg3.jpg);
}
.banner h3 {
    position: relative;
    z-index: 15;
    font-family: 'Fjalla One', sans-serif;
    color: #952615;
    font-size: 28px;
    margin: 10px 0 15px;
}
.container p, .page2 p {
    margin: auto;
    color: #333;
    max-width: 600px;
    text-align: justify;
    font-family: 'Old Standard TT', serif;
    font-size: 18px;
}
.page3 h3.join {
    padding-top: 20%;
    color: white;
    text-shadow: -2px 8px rgba(0,0,0,0.3);
    letter-spacing: 0.05em;
    margin: 0 0 5px;
    font-size: 32px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}